html {
	box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto';

}
*,
*::after,
*::before {
	box-sizing: inherit;
}
/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
    margin-bottom: 0; 
}
/* Clase para restablecer las propiedades básicas de las listas (ul) */
ul{
    list-style: none;
    display: flex;
}
 
.li{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* Clase para restablecer las propiedades básicas de los enlaces */
.link {
	text-decoration: none;
	color: inherit;
}

/* Propiedades para la correcta visualización de las imágenes */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Propiedad para anular la cursiva en address */
address {
	font-style: normal;

}

a{
    color: #212121;
}

a:link{
    text-decoration: none;

}
a:hover{
    color: #2196F3;
}
a:active{
    color: #2196F3;
}
a:focus{
    color: #2196F3;
}
button{
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
}
button:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
button:active{
    background-color: #2196F3;
    color: #FFFFFF;
}
button:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;



}

.colum{
    flex-direction: column;
    margin-top: 94px;
    margin-left: auto;
    margin-right: auto;

   
}

.flex{
        display: flex;
}
/* **************************************************************************  */

.header{

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info{
    color: rgb(57, 56, 56);
}

.webstudio{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-top: 24px;
    margin-bottom: 24px;


}

.principal{
    color: #2196F3;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
}

.princ_nav{
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
}

.text-info{
    font-weight: 500;
    font-size: 14px; 
    list-style: none;
    line-height: 1.14;
    color: #757575;
}


/* **************************************************************************  */

.first{
    
    background-color: #2F303A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;  
    

}
.texto-titulo{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    width: 696px;
    height: 120px;
}

.button_index{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color:  #2196F3;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;

   margin-top: 30px;
    border: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.colum_one{
    flex-direction: column;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
 
    
}

/* **************************************************************************  */


.caption{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.qualitis_text{
    margin-top: 10px;
}


/* **************************************************************************  */

.title-caption_first{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

}


/* **************************************************************************  */
.quarter{
 
    background: #F5F4FA;
    margin-top: 94px;
    margin-left: auto;
    margin-right: auto;
}

.title-caption_second{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

}

.caption-team{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team_name{
    margin-top: 30px;

}

.team_des{
    margin-top: 10px;
}

.team_des_pen{
    margin-top: 10px;
    margin-right: 25px;

}





/* **************************************************************************  */

.back{
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
   
}

.text-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;

    
}

.text-footer-info{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.webstudio_two{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

  
}

.colum_third{
    margin-top: 60px;
    flex-direction: column;
    margin-bottom: 60px;
    width: 231px;

    


   

}

.colum_four{

    margin-left: 0px;
    margin-top: 2px;
    padding-top: 0;




}


/* **************************************************************************  */

.caption-projects{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-left: 24px;
    margin-top: 20px;
}
.text-team-projects{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
    margin-left: 24px;
    margin-top: 4px;
}

.title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.button_portafolio{
    font-weight: 500;
    font-size: 16px;
    line-height: 2.25;
    font-family: inherit;
    border: none;
    text-align: center;
    width: 73px;
    height: 38px;
    border-radius: 4px;
}

.button_portafolio_two{
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    border: none;
    width: 128px;
    height: 38px;
    border-radius: 4px;
}

.button_portafolio_three{
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    border: none;
    width: 145px;
    height: 38px;
}

.button_portafolio_four{
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    border: none;
    width: 103px;
    height: 38px;
}

.button_portafolio_five{
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    border: none;
    width: 130px;
    height: 38px;
}

.images_port{
    text-align: center;
}



.button_org{
    margin-right: auto;
    margin-left: auto;
    margin-top: 106px;
}

.img_port{
    display: flex;
    flex-direction: row;

}



/* **************************************************************************  */

.back_port{
    background-color: #2F303A;    
    margin-top: 82px;

}

.text-footer_port{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    
}

.text-footer-info_port_one{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
 

}

.text-footer-info_port_two{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}

.webstudio_two_port{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}


/* **************************************************************************  */

.link_one{
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 93px;

}

.link_two{
    margin-top: auto;
    margin-left: 50px;
    margin-bottom: auto;
   
}

.link_third{

    margin-top: auto;
    margin-left: 50px;
    margin-bottom: auto;


}

.link_four{
    margin-top: auto;
    margin-left: 282px;
    margin-bottom: auto;
  
}

.link_five{
    margin-top: auto;
    margin-left: 50px;
    margin-bottom: auto;
   
}

.link_six{
    
    padding: 0;
    margin-left: -20px;
    width: 270px;
}

.link_seven{
    margin-left: 30px;
    width: 270px;
}

.link_eight{
    margin-left: 30px;
    width: 270px;
}

.link_nine{
    margin-left: 30px;
    width: 270px;
    margin-right: -10px;
}

.link_ten{
    margin-right: 30px;
    margin-top: 55px;
    margin-left: -39px;
}

.link_eleven{
    margin-right: 30px;
    margin-top: 55px;
}

.link_twelve{
    margin-top: 55px;
}

.link_thirteen{

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-right: 37px;
    margin-top: 50px;
    margin-bottom: 94px;
    margin-left: -39px;
}

.link_fourteen{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-right: 37px;
    margin-top: 50px;
    margin-bottom: 94px;
}

.link_fiveteen{
    width: 270px;
    height: 368px;   
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-right: 37px;
    margin-top: 50px;
    margin-bottom: 94px;
}

.link_sixteen{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 94px;
}

.link_seventeen{
margin-left: 0px;
margin-top: -4px;
}

.link_eighteen{
    margin-left: -120px;
    margin-top: 15px;
}
.link_nineteen{
    margin-left: 280px;
    margin-right: 8px;
}

.link_twenty{
    margin-right: 8px;
    
    
}

.link_twenty_one{
    margin-right: 8px;

   
}

.link_twenty_tow{
    margin-right: 8px;

    
}

.link_twenty_three{
   margin-right: 279px;
}

.link_twnty_four{
    width: 371px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    margin-right: 30px;
    margin-top: 50px;
    margin-left: -22px;



}

.link_twnty_five{
    box-sizing: border-box;
    width: 371px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    margin-right: 30px;
    margin-top: 50px;
}

.link_twnty_six{
    width: 371px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    margin-top: 50px;
}

.link_twnty_seven{
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: -22px;
    }

    .link_twnty_eight{
        width: 370px;
        height: 404px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        box-sizing: border-box;
        margin-right: 30px;
        margin-top: 30px;
    }

    .link_twnty_nine{
        box-sizing: border-box;
        width: 370px;
        height: 404px;
        left: calc(50% - 370px/2 + 400px);
        top: 708px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        margin-top: 30px;
    }

    .link_thirty_one{
        box-sizing: border-box;
        width: 370px;
        height: 404px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE; 
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        margin-right: 30px;
        margin-top: 30px;
        margin-left: -22px;
    }
    .link_thirty_two{
        box-sizing: border-box;
        width: 370px;
        height: 404px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        margin-right: 30px;
        margin-top: 30px;
    }

    .link_thirty_three{
        box-sizing: border-box;
        width: 370px;
        height: 404px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        margin-top: 30px;
    }
/* **************************************************************************  */
